[submodule "android/ioio"]
	path = android/ioio
	url = https://github.com/XCSoar/ioio.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "android/UsbSerial"]
	path = android/UsbSerial
	url = https://github.com/XCSoar/UsbSerial.git
[submodule "test/src/MultiAircraft/unscented"]
	path = test/src/MultiAircraft/unscented
	url = http://github.com/jwharington/unscented.git
[submodule "test/src/MultiAircraft/Tableau"]
	path = test/src/MultiAircraft/Tableau
	url = https://github.com/jwharington/Tableau.git
